* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.cont1 {    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin-top: 70%;
}

.container .tenor-gif-embed {
    max-width: 200px;
}
.cont1 .tenor-gif-embed {
    max-width: 200px;
}

.slider {
    display: block;
    height: 293px;
    max-height: 293px;
    width: 600px;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #fff;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider li:nth-child(4) label {
    left: 100px;
}.slider li:nth-child(5) label {
    left: 130px;
}.slider li:nth-child(6) label {
    left: 160px;
}
.slider li:nth-child(7) label {
    left: 190px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


